/* rgb(168, 176, 223) */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
  position:fixed;
  width:100%;
  z-index:100;
  padding:10px;
}

.welcome{
    margin: 0 0 0 auto;
}

nav ul{
    font-size: 24px;
    margin: 0 20%;
    display:flex;
    padding:0;
    list-style-type: none;
}

#side-drop{
    position: fixed;
    height: 100%;
    width: 20%;
    overflow: auto;
    top: 48;
}

#drops{
    /* padding-top: 60px; */
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-note{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.new-note{
    margin-left: 6px;
    font-size: 1.5rem;
    padding-bottom: 2px;
}

.add-note input{
    font-size: 15px;
    border: 1px solid rgba(119, 119, 119, 0.089);
    font-family: inherit;
    width: 75%;
    border-radius: 5px;
}

.notes-list{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.notes-list a{
    font-size: 15px;
    font-family: inherit;
    color: inherit;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(119, 119, 119, 0.089);
    text-decoration: none;
    padding: 2px 1px 1px 16px;
}

#modal-container{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
}

#modal{
    border-radius: 5px;
    box-shadow: 0 14px 28px rgb(168, 176, 223);
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left:50%;
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
}

#modal p{
    margin-top: 5px;
    padding:8px;
    line-height:1.8em;
}

.user{
    padding: 4px;
    font-family: inherit;
    border-radius: 2px;
    border: 1px solid rgb(168, 176, 223);
}

.done{
    display: block;
    font-family: inherit;
    padding: 4px;
    margin: 8px auto;
    border: 1px solid rgb(168, 176, 223);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(168, 176, 223);
}

.done:active{
    box-shadow: 0 0 0 rgb(168, 176, 223);
    transform: translate(2px,2px);
}

